# Configuration file

~CONFIG_VERSION: 0.1.0

world-2030080134 {
    # Give items instead of showing the recipe.
    B:cheatItemsEnabled=false

    # Hide and unhide ingredients by clicking them in the list.
    B:editEnabled=false
    S:filterText=

    # Show the list of ingredients next to open guis.
    B:overlayEnabled=true
}


world1544803905 {
    S:filterText=
}


world350155539 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=@calculator
    B:overlayEnabled=true
}


world733434391 {
    # Give items instead of showing the recipe.
    B:cheatItemsEnabled=false

    # Hide and unhide ingredients by clicking them in the list.
    B:editEnabled=false
    S:filterText=

    # Show the list of ingredients next to open guis.
    B:overlayEnabled=true
}


